<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rent.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <link rel="stylesheet" href="~/MyStyle/css/style.css" />
        <link rel="stylesheet" href="~/MyStyle/css/owl.carousel.css" />
        <link rel="stylesheet" href="~/MyStyle/css/price-range.css" />
        <link rel="stylesheet" href="~/MyStyle/css/responsive.css" />
        <link rel="stylesheet" href="~/MyStyle/css/colors.css" />

        <link rel="stylesheet" href="~/MyStyle/fonts/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/MyStyle/fonts/themify-icons/themify-icons.css" />
        <link rel="stylesheet" type="text/css" href="~/MyJavascript/js/rs-plugin/css/settings.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyStyle/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyStyle/css/owl.carousel.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyStyle/css/price-range.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyStyle/css/responsive.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyStyle/css/colors.css" asp-append-version="true" />

        <link rel="stylesheet" href="~/MyStyle/fonts/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyStyle/fonts/themify-icons/themify-icons.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/MyJavascript/js/rs-plugin/css/settings.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="preloader">
        <div class="theme-layout">
            <header class="simple-header for-sticky white">
                <div class="menu">
                    <div class="container">
                        <div class="logo">
                            <a href="#" title="">
                                <i class="fa fa-get-pocket"></i>
                                <span>CeleCars</span>
                                <strong>RENTA VEHICULOS</strong>
                            </a>
                        </div><!--LOGO-->
                        <div class="popup-client">
                            <span><i class="fa fa-user"> / Signup</i></span>
                        </div>
                        <span class="menu-toggle">
                            <i class="fa fa-bars"></i>
                        </span>
                        <nav>
                            <h1 class="nocontent outline outline">--- Main Navigation ---</h1>
                            <ul>
                                <li><a asp-area="" asp-controller="Home" asp-action="Index">Inicio</a></li>
                                <li class="menu-item-has-children mega">
                                    <a href="#" title="">Mantenimiento</a>
                                    <ul>
                                        <li><a asp-area="" asp-controller="TiposVehiculos" title="" asp-action="Index">Tipos Vehiculos</a></li>
                                        <li><a asp-area="" asp-controller="ModeloVehiculoes" asp-action="Index">Modelos Vehículos</a></li>
                                        <li><a asp-area="" asp-controller="Vehiculos" title="" asp-action="CrearVehiculo">Crear Vehículos</a></li>



                                        <li><a asp-area="" asp-controller="MarcaVehiculoes" title="" asp-action="Index">Marca Vehículo</a></li>
                                        <li><a asp-area="" asp-controller="VehiculoCaracteristicas" title="" asp-action="Index">Estado Vehículo</a></li>
                                        @*<li><a href="agent2.html" title="">Agent 2 page</a></li>
                                                                                    <li><a asp-area="" asp-controller="Vehiculos" title="" asp-action="CrearVehiculo">Crear Vehículos</a></li>

                                            <li><a href="agent3.html" title="">Agent 3 page</a></li>

                                            <li><a href="my-profile.html" title="">Profile page</a></li>
                                            <li><a href="submit.html" title="">Submit page</a></li>
                                            <li><a href="login.html" title="">Login page</a></li>

                                            <li><a href="contact.html" title="">Contact Us</a></li>
                                            <li><a href="404.html" title="">404 Error </a></li>
                                            <li><a href="faq.html" title="">FAQ page</a></li>
                                            <li><a href="faq.html" title="">VEHICUL LEFT SIDE</a></li>*@
                                    </ul>
                                </li>

                                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Adm Usuarios</a></li>

                            </ul>
                        </nav>

                    </div>
                </div>
            </header>

        </div>
    </div>


    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Rent.Web</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
<script type="text/javascript" src="~/MyJavascript/js/modernizr.js"></script>
@*<script type="text/javascript" src="~/MyJavascript/js/jquery-1.10.2.min.js"></script>*@
@*<script type="text/javascript" src="~/MyJavascript/js/modernizr.js"></script>*@
<script type="text/javascript" src="~/MyJavascript/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="~/MyJavascript/js/html5lightbox.js"></script>
<script type="text/javascript" src="~/MyJavascript/js/scrolly.js"></script>
<script type="text/javascript" src="~/MyJavascript/js/price-range.js"></script>
<script type="text/javascript" src="~/MyJavascript/js/script.js"></script>
<script type="text/javascript" src="~/MyJavascript/js/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="~/MyJavascript/js/rs-plugin/js/jquery.themepunch.revolution.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        "use strict";
        jQuery('.tp-banner').show().revolution({
            dottedOverlay: "none",
            delay: 16000,
            startwidth: 1170,
            startheight: 700,
            hideThumbs: 200,
            thumbWidth: 100,
            thumbHeight: 50,
            thumbAmount: 5,
            navigationType: "bullet",
            navigationArrows: "solo",
            navigationStyle: "preview1",
            touchenabled: "on",
            onHoverStop: "on",
            swipe_velocity: 0.7,
            swipe_min_touches: 1,
            swipe_max_touches: 1,
            drag_block_vertical: false,
            parallax: "mouse",
            parallaxBgFreeze: "on",
            parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],
            keyboardNavigation: "off",
            navigationHAlign: "center",
            navigationVAlign: "bottom",
            navigationHOffset: 0,
            navigationVOffset: 20,
            soloArrowLeftHalign: "left",
            soloArrowLeftValign: "center",
            soloArrowLeftHOffset: 20,
            soloArrowLeftVOffset: 0,
            soloArrowRightHalign: "right",
            soloArrowRightValign: "center",
            soloArrowRightHOffset: 20,
            soloArrowRightVOffset: 0,
            shadow: 0,
            fullWidth: "on",
            fullScreen: "off",
            spinner: "spinner4",
            stopLoop: "off",
            stopAfterLoops: -1,
            stopAtSlide: -1,
            shuffle: "off",
            autoHeight: "off",
            forceFullWidth: "off",
            hideThumbsOnMobile: "off",
            hideNavDelayOnMobile: 1500,
            hideBulletsOnMobile: "off",
            hideArrowsOnMobile: "off",
            hideThumbsUnderResolution: 0,
            hideSliderAtLimit: 0,
            hideCaptionAtLimit: 0,
            hideAllCaptionAtLilmit: 0,
            startWithSlide: 0,
            videoJsPath: "rs-plugin/videojs/",
            fullScreenOffsetContainer: ""
        });

        $(".carousel-prop").owlCarousel({
            autoplay: true,
            autoplayTimeout: 3000,
            smartSpeed: 2000,
            loop: true,
            dots: true,
            nav: false,
            items: 4,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: false
                },
                600: {
                    items: 2,
                    nav: false
                },
                1000: {
                    items: 3,
                    nav: true,
                    loop: false
                }
            }
        });

        $(".carousel").owlCarousel({
            autoplay: true,
            autoplayTimeout: 3000,
            smartSpeed: 2000,
            loop: false,
            dots: false,
            nav: true,
            margin: 0,
            items: 3
        });

        $(".carousel-client").owlCarousel({
            autoplay: true,
            autoplayTimeout: 3000,
            smartSpeed: 2000,
            loop: false,
            dots: false,
            nav: true,
            margin: 30,
            items: 5,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: true
                },
                1000: {
                    items: 5,
                    nav: true,
                    loop: false
                }
            }
        });

    });

</script>
