<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Rent.Web</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />

        <link rel="stylesheet" href="~/MyStyle/css/style.css" />
        <link rel="stylesheet" href="~/MyStyle/css/owl.carousel.css" />
        <link rel="stylesheet" href="~/MyStyle/css/price-range.css" />
        <link rel="stylesheet" href="~/MyStyle/css/responsive.css" />
        <link rel="stylesheet" href="~/MyStyle/css/colors.css" />

        <link rel="stylesheet" href="~/MyStyle/fonts/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/MyStyle/fonts/themify-icons/themify-icons.css" />
        <link rel="stylesheet" type="text/css" href="~/MyJavascript/js/rs-plugin/css/settings.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyStyle/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyStyle/css/owl.carousel.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyStyle/css/price-range.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyStyle/css/responsive.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyStyle/css/colors.css" asp-append-version="true" />

        <link rel="stylesheet" href="~/MyStyle/fonts/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/MyStyle/fonts/themify-icons/themify-icons.css" asp-append-version="true" />
        <link rel="stylesheet" type="text/css" href="~/MyJavascript/js/rs-plugin/css/settings.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header class="simple-header for-sticky white">
        <div class="menu">
            <div class="container">
                <div class="logo">
                    <a href="#" title="">
                        <i class="fa fa-get-pocket"></i>
                        <span>CeleCars</span>
                        <strong>RENTA VEHICULOS</strong>
                    </a>
                </div><!--LOGO-->
                <div class="popup-client">
                    <span><i class="fa fa-user"> / Signup</i></span>
                </div>
                <span class="menu-toggle">
                    <i class="fa fa-bars"></i>
                </span>
                <nav>
                    <h1 class="nocontent outline outline">--- Main Navigation ---</h1>
                    <ul>
                        <li class="menu-item-has-children"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                        <li class="menu-item-has-children mega">
                            <a href="#" title="">PAGES</a>
                            <ul>
                                <li><a href="comingsoon.html" title="">Coming Soon</a></li>
                                <li><a href="agents-listing.html" title="">Agent Listing </a></li>
                                <li><a href="terms-conditions.html" title="">Terms & conditions</a></li>

                                <li><a href="agent.html" title="">Agent page</a></li>
                                <li><a href="agent2.html" title="">Agent 2 page</a></li>
                                <li><a href="agent3.html" title="">Agent 3 page</a></li>

                                <li><a href="my-profile.html" title="">Profile page</a></li>
                                <li><a href="submit.html" title="">Submit page</a></li>
                                <li><a href="login.html" title="">Login page</a></li>

                                <li><a href="contact.html" title="">Contact Us</a></li>
                                <li><a href="404.html" title="">404 Error </a></li>
                                <li><a href="faq.html" title="">FAQ page</a></li>
                                <li><a href="faq.html" title="">VEHICUL LEFT SIDE</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </header>

    @*<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Rent.Web</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>*@

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - Rent.Web</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
